{% extends 'base.html.twig' %} {% block title %}Mon panier - MoroccanExpress{% endblock %} {% block content %}
<h1>Mon Panier</h1>
{% if cart|length > 0 %}
<p>Voici le recapitulatif de vos produits ajoute au panier :</p>
{% set total = null %}
<table class="table my-3">
    <thead>
        <tr>
            <th scope="col">Produits</th>
            <th scope="col">Quantite</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart %}
        <tr>
            <th scope="row">
                <img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="45px" class="mr-2"> {{product.product.name}}
            </th>
            <td>

                <a href="{{path('decrease_cart',{'id': product.product.id})}} ">
                    <img src="{{asset('assets/img/minus.png')}} " alt="plus" height="18px">
                </a>
                x {{product.quantity}}
                <a href="{{path('add_cart',{'id': product.product.id})}} ">
                    <img src="{{asset('assets/img/add.png')}} " alt="plus" height="18px">
                </a>
            </td>
            <td>{{(product.product.price / 100)|number_format(2,',','.') }} Dhs</td>
            <td>{{ (((product.product.price)* product.quantity) / 100)|number_format(2,',','.') }} Dhs</td>
            <td>
                <a href="{{path('delete_to_cart',{'id': product.product.id})}} ">
                    <img src="{{asset('assets/img/trash.png')}} " alt="supprimer" height="18px">
                </a>
            </td>
        </tr>
        {% set total = total + (product.product.price * product.quantity) %} {% endfor %}



    </tbody>


</table>

<div class="text-right">
    <b style="font-weight: 700;">Nombre de produits : {{ cart|length}} </b><br>
    <b style="font-weight: 700;">Prix total : {{(total / 100)|number_format(2,',','.') }} Dhs </b>
</div>
<a href="" class="btn btn-success btn-block mb-5 my-2">Valider ma commande</a> {% else %}
<hr>
<p><b>Votre panier est vide , appuillez </b> <a href="{{path('products')}}">ici</a> <b>pour retourner vers nos produits</b></p>
{% endif %} {% endblock content %}