{% extends 'base.html.twig' %} {% block title %}Mes adresses - MoroccanExpress{% endblock %} {% block content %}
{# <a href="{{path('account_address_add')}} " class=" btn btn-info btn-sm float-right">Ajouter une adresse</a>
<h1>Mes adresses</h1>
C'est dans cet espace ou vous pourrez gere vos adresses <br>
<a href="{{path('account')}}">Retour</a>
<hr> {% if app.user.addresses|length == 0 %}
<p class="text-center">Vous n'avez aucune adresse pour le moment, si vous voulez en cree cliquez <a href="{{path('account_address_add')}} ">ici</a></p>
{% else %}
<div class="row">
    {% for address in app.user.addresses %}
    <div class="col-md-4 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{address.name}} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{address.city}} </h6>
                <p class="card-text my-2 text-center">{{address.address}} <br>
                    <p class="my-3 text-center" style="color: rgb(53, 53, 53);">( {{address.postal}} - {{address.city}} - {{address.country}} )</p>
                </p>
                <div class="text-center">
                    <p><a href="{{path('account_address_edit',{'id' : address.id })}} " class="card-link btn btn-info">Modifier</a> <a href="{{path('account_address_remove',{'id' : address.id })}}" class="card-link ml-3 btn btn-outline-danger">Supprimer</a></p>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

</div> #}


<section class="section-content padding-y">
	<div class="container">
	
	<div class="row">
		<aside class="col-md-3">
			<nav class="list-group">
				<a class="list-group-item" href="page-profile-main.html"> Vue d'ensemble  </a>
				<a class="list-group-item active" href="page-profile-address.html"> Mes Adresses </a>
				<a class="list-group-item" href="page-profile-orders.html"> My Orders </a>
				<a class="list-group-item" href="page-profile-wishlist.html"> My wishlist </a>
				<a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
				<a class="list-group-item" href="page-profile-setting.html"> Settings </a>
				<a class="list-group-item" href="page-index-1.html"> Log out </a>
			</nav>
		</aside> <!-- col.// -->
		<main class="col-md-9">

		<a href="{{path('account_address_add')}} " class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Add new address </a>

        <div class="row">
        {% for address in app.user.addresses %}
            {# <pre>
                {{ dump(address) }}
            </pre> #}
        
            <div class="col-md-6">
                <article class="box mb-4">
                    <h5>{{address.name}}  {% if address.company %}  :<strong> {{address.company}} </strong> {% endif %} </h5>
                    <p>{{address.address}}<br> {{address.postal}},{{address.city}},{{address.country}} <br> {{address.phone}}  </p>
                    <a href="#" class="btn btn-light disabled"> <i class="fa fa-check"></i> Default</a> <a href="{{path('account_address_edit',{'id' : address.id })}} " class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="{{path('account_address_remove',{'id' : address.id })}}" class="btn btn-light"> <i class="text-danger fa fa-trash"></i>  </a>
                </article>
            </div>  <!-- col.// -->
        {% endfor %}
        </div> <!-- row.// -->

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>

{# {% endif %} #}{% endblock %} 