{% extends 'base.html.twig' %}
{% block title %}Mon compte - MoroccanExpress{% endblock %} 
{% block content %}

{# <h1 class="text-center">Mon compte</h1>
<hr/> #}
{# Bienvenue {{ app.user.firstname }} dans votre compte. <br>{# C'est dans cet espace ou vous pourrez gere votre compte personnel #}
{# <hr> {% if is_granted('ROLE_ADMIN') %} - <a href="/admin">Administration</a><br> {% endif %} - <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br> - <a href="{{ path('account_address') }}">Ajouter mes addresses</a><br> - <a href="{{path('account_order')}} ">Mes commandes</a><br>
<hr> #}

<!-- ========================= SECTION CONTENT ========================= -->


<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item active" href="#"> Vue d'ensemble </a>
                    <a class="list-group-item" href=""> My Address </a>
                    <a class="list-group-item" href=""> My Orders </a>
                    <a class="list-group-item" href=""> My wishlist </a>
                    <a class="list-group-item" href=""> My Selling Items </a>
                    <a class="list-group-item" href=""> Settings </a>
                    <a class="list-group-item" href=""> Log out </a>
                </nav>
            </aside>
            <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <figure class="icontext">
                            <div class="icon">
                                <img class="rounded-circle img-sm border">
                            </div>
                            <div class="text">
                                <strong> Mr. {{user.firstname}} {{user.lastname}} </strong> <br>
                                <p class="mb-2"> {{user.email}} </p>
                                <a href="#" class="btn btn-light btn-sm">Edit</a>
                            </div>
                        </figure>
                        <hr>
                        <p>
                            <i class="fa fa-map-marker text-muted"></i> &nbsp; Mes adresses:
                            <br>{% for address in addresses %} Adresse : {{address.address}} à {{address.city}} <br> Numero : {{address.phone}} <br> Postal : {{address.postal}} <br> {% endfor %}
                            <a href="#" class="btn-link"> Edit</a>
                        </p>
                        {# Calcul de nombres de commandes payer et livrer #}
                         {% set nbr_paid = 0 %}
                         {% set nbr_del = 0 %}
                         {% set nbr_enc = 0 %}
                         {% set nbr_ann = 0 %}
                         {% for order in orders %}
                            {% if order.isPaid == 1 %}
                                {% set nbr_paid = nbr_paid + 1 %}
                            {% endif %}
                            {% if order.state == 4  %}
                                {% set nbr_del = nbr_del + 1 %} 
                            {% endif %}
                            {% if order.state > 1  and order.state < 4 %}
                                {% set nbr_enc = nbr_enc + 1 %}
                            {% endif %}
                            {% if order.state >= 5 %}
                                {% set nbr_ann = nbr_ann + 1 %}
                            {% endif %}
                            
                            
                         {% endfor %} {# Fin du calcul #}
                        <article class="card-group card-stat">
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">{{orders|length}} </h4>
                                    <span>Commandes</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">{{nbr_enc}} </h4>
                                    <span>En cours de preparation et livraison</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">{{nbr_paid}} </h4>
                                    <span>Payée</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">{{nbr_del}}</h4>
                                    <span>Livrée</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">{{nbr_ann}}</h4>
                                    <span>Annulée</span>
                                </div>
                            </figure>
                        </article>


                    </div>
                    <!-- card-body .// -->
                </article>
                <!-- card.// -->

                <article class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Vos commandes </h5>

                        <div class="row">
                        {% set key = 0 %}
                        {% for order in orders|reverse %}
                            {% for product in order.orderDetails %}
                            {% if order.isPaid == 0 and (order.state > 6 or order.state < 1  ) %}
                            {% else %}
                                {% set key = key + 1 %}
                                {% if key > 4 %}
                                {% else %}
                                    <div class="col-md-6">
                                    <figure class="itemside  mb-3">
                                        <div class="aside"><img src="/uploads/{{product.illustration}}" class="border img-sm"></div>
                                        <figcaption class="info">
                                            <time class="text-muted"><i class="fa fa-calendar-alt"></i>{{order.CreatedAt|date("d/m/Y")}}</time>
                                            <p>{{product.product}} </p> 
                                            <span class="text-dark"> <strong> N° {{order.reference}}</strong> </span> <br/>
                                            {% if order.state == 1 %}
                                                <span class="text-warning"> <strong>En attente</strong> </span>
                                            {% elseif order.state == 2 %}
                                                <span class="text-warning"> <strong>Préparation en cours</strong> </span>
                                            {% elseif order.state == 3 %}
                                                <span class="text-warning"> <strong>Livraison en cours</strong> </span>
                                            {% elseif order.state == 4 %}
                                                <span class="text-success"> <strong>Livrée</strong> </span>
                                            {% elseif order.state == 5 %}
                                                <span class=" text-danger"> <strong>Annulée</strong> </span>
                                            {% elseif order.isPaid == 0 %}
                                                <span class=" text-danger"> <strong>Non Payée</strong> </span>
                                            {% endif %}
                                        </figcaption>
                                    </figure>
                                </div>
                                {% endif %}
                                
                            {% endif %}
                           
                            {% endfor %}
                        {% endfor %}
                            
                            
                        </div>
                        <!-- row.// -->

                        <a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
                    </div>
                    <!-- card-body .// -->
                </article>
                <!-- card.// -->

            </main>
            <!-- col.// -->
        </div>

    </div>
    <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %} {% block footer %} {% endblock footer %}