{% extends 'base.html.twig' %} {% block title %}Acceuil - MoroccanExpress{% endblock title %} {% block panier %} {% block style_cart %}
<link rel="stylesheet" href="{{ asset('assets/style.css')}}"> {% endblock style_cart %}
<div class="shopping">
    <span class="counter">{{cart|length}}</span>
    <a href="{{ path('cart') }}" class="sty-nav-link nav-link"><img src="{{asset('assets/img/shopping-cart.png')}} " alt="" height="25px"></a>
    <!-- Shopping Item -->

    <div class="shopping-item">
        <div class="dropdown-cart-header">
            <span>{{cart|length}} Items</span>
            <a href="{{path('cart')}}">Mon Panier</a>
        </div>
        <ul class="shopping-list" style="overflow-y: scroll;height:200px;">
            {% set total = null %} {% for product in cart %}

            <li class="" style="left:-20px">
                <a href="{{path('delete_to_cart',{'id': product.product.id })}}" title="Remove this item"><img class="remove" src="{{asset('assets/img/cancel.png')}} " style="border: none;"></img>
                </a>
                <a class="cart-img" href="{{path('product',{'slug': product.product.slug })}}"><img src="/uploads/{{product.product.illustration}} " alt="{{product.product.name}} " height="70px" width="70px"></a>
                <h4><a class=" mr-5" href="{{path('product',{'slug': product.product.slug })}}">{{product.product.name }} </a></h4>
                <p class="quantity">{{product.quantity}}x - <span class="amount">{{product.product.price / 100|number_format(2,'.',',')}} DH</span></p>
            </li>
            {% set total = total + (product.product.price / 100) %} {% endfor %}
        </ul>
        <div class="bottom">
            <div class="total">
                <span>Total</span>
                <span class="total-amount">{{total}} DH</span>
            </div>
            <a href="{{path('order')}} " class="btn animate">Valider votre panier</a>
        </div>
    </div>
</div> {% endblock panier %} {% block carousel %} {% endblock carousel %} {% block content %}
<!-- Three columns of text below the carousel -->
<h2>Nos meilleurs ventes</h2>
<p>Decouvrez nos articles les plus vendus ce mois</p>
<div class="row d-flex justify-content-center">
    {% for product in products %}
    <div class="col-md-3">
        {% include "products/single_product.html.twig" %}
    </div>
    {% endfor %}
</div>

<!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Une equipe de professionnels<span class="text-muted"> au grand savoir-faire</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img src="{{asset('assets/img/first.jpg')}} " class=" img-fluid" alt="Un savoir faire traditonnel marocain">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Venez nous recontrer dans nos<span class="text-muted"> boutiques au maroc</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{asset('assets/img/second.jpg')}} " class=" img-fluid" alt="On est ouvert toute l'année">
    </div>
</div>

<hr class="featurette-divider">



<!-- /END THE FEATURETTES -->
{% endblock content %}