{% extends 'base.html.twig' %} {% block title %}{{product.name}} - MoroccanExpress{% endblock %} {% block content %}
<style>

</style>
<h1>Produit de categorie : {{product.category}}</h1>
<hr>
<div class="row">
    <div class="col-md-5 my-auto">
        <img src="/uploads/{{product.illustration}}" class="img-fluid" alt="{{product.name}}">

    </div>
    <div class="col-md-7 my-auto">
        <h4>{{product.name}}</h4>
        <p>{{product.subtitle}} </p>
        <p style="color: red;">{{(product.price / 100)|number_format(2,',','.') }} Dhs</p>
        <hr>
        <p>{{product.description}} </p>
        <a href="{{path('add_cart',{'id':product.id})}} " class="btn btn-outline-dark">Ajouter au panier</a>
    </div>
</div>
<br>
<br>
<hr>
<h2>Nos meilleurs ventes</h2>
<p>Decouvrez nos articles les plus vendus ce mois</p>
<div class="row d-flex justify-content-center">
    {% for product in products %}
    <div class="col-md-3">
        {% include "products/single_product.html.twig" %}
    </div>
    {% endfor %}
</div>



<hr> {% endblock content %}