{% extends 'base.html.twig' %} {% block title %}Validation - MoroccanExpress{% endblock %} {% block content %} {% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock javascript %}
<h1>Mon récapitulatif</h1>
<p>Vérifiez vos informations avant de payer votre commande</p>
<hr>
<div class="row mb-5">
    <div class="col-md-6">
        <div class="mb-4">
            <strong>Mon adresse de livraison</strong>
        </div>

        <div class="form-check">
            {{delivery|raw}}
        </div>

        <hr>
        <div class="mb-4">
            <strong>Mon transporteur</strong>
        </div>
        <div class="form-check">
            {{carrier.name}} <br> {{carrier.description}} <br> {{carrier.price / 100}} DH
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center mb-4">
            <strong>Ma commande</strong>
        </div>
        <div class="order-sumary">
            {% set total = null %}{% for key,product in cart %}
            <div class="row {% if key > 0 %}mt-2 {% endif %}">
                <div class="col-md-3">
                    <img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px" class="mr-2">
                </div>
                <div class="col-md-6 my-auto">
                    {{product.product.name}}<br>
                    <small>{{product.product.name}} </small><br> <small>x {{product.quantity}}</small>
                </div>
                <div class="col-md-3 my-auto">
                    {{(product.product.price / 100)|number_format(1,',','.') }} Dhs
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
            </div>{% endfor %}

        </div>
        <hr>

        <div class="text-start my-3">
            <strong class="mr-1">Sous-total:  </strong> {{(total / 100)|number_format(1,',','.') }} Dhs <br>
            <strong class="mr-1">Livraison:    </strong> {{(carrier.price / 100)|number_format(1,',','.') }} Dhs
        </div>
        <hr>
        <div class="text-start my-3">
            <strong class="mr-1">Total:</strong> {{((total + carrier.price) / 100 )|number_format(1,',','.') }} Dhs
        </div>

        <button class="btn btn-block btn-success" id="checkout-button">Payez : {{((total + carrier.price) / 100 )|number_format(1,',','.') }} Dhs</button>


    </div>

    <div class="col-md-6">

    </div>
</div>

{% block script %}
<script type="text/javascript">
    var stripe = Stripe("pk_test_51JVxlsAAzrhmOEomNbUQ5aMjYHVTcALYHZzbQ8nmUtVsPghWj8Z2iU6HS76idcqs97UAX4ly0QKhDjAnR4F09FGD00eT4LKthj");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function() {
        fetch("/commande/create-session/{{reference}}", {
                method: "POST",
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                if (session.error == 'order') {
                    window.location.replace("{{ path('order')}} ");
                } else {
                    return stripe.redirectToCheckout({
                        sessionId: session.id
                    });
                }

            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error("Error", error);
            });
    });
</script>
{% endblock script %} {% endblock content %}